$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body { padding-top: 70px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  h1 {
    font-family: 'Ruda', sans-serif;
    color: #229;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


/* Responsive: Small devices */
@media (max-width:360px) {
  body{
    background:$jumbotron-bg;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Big screen */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 950px;
  }
}

/* Responsive: Wide screen */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1250px;
  }
}


div.prices div.row {
  margin-bottom:10px;
  div{
    font-size:1.45em;
  }
  div.value{
    color:#2211cc;
  }
}

@media (min-width: 996px) {
  div.prices div.row{
    div.name{
      text-align: right;
    }
  }

  div.prices div.row{
    div.value{
      text-align:left;
    }
  }
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
  padding-bottom:0px;
  padding-top:10px;
}


div#last_update {
  margin-top:15px;
}

div#last_update p {
  font-size:0.9em;
  font-weight: bold;
  font-style: italic;
}

.footer p{
  float:left;
}
.footer > div {
  float:right;
}

span.value{
  font-size: 1.4em;
  color: #800;
}

span.perc{
  font-size: 1.7em;
  color: #008;
}

span.decrement{
  color:#c00;
}
span.increment{
  color:#0c0;
}
span.equal{
  color:#777;
}

.prices.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.prices.ng-enter {
  opacity:0;
}
.prices.ng-enter.ng-enter-active {
  opacity:1;
}


.mainContainer {
  position:relative;
}
.mainAnimation.ng-enter, .mainAnimation.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  position:absolute;
  top:0;
  left:0;
  right:0;
  height:600px;
}

.mainAnimation.ng-enter {
  z-index:100;
  top:600px;
  opacity:0;
}
.mainAnimation.ng-enter.ng-enter-active {
  top:0;
  opacity:1;
}

.mainAnimation.ng-leave {
  z-index:101;
  top:0;
  opacity:1;
}
.mainAnimation.ng-leave.ng-leave-active {
  top:-600px;
  opacity:0;
}
