$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower


h1 {
  margin-left:10px;
}

div.price{
  margin-bottom:10px;
  margin-top:10px;
}

div.price > .name{
  font-size:1.3em;
  text-align:right;
  margin-top:auto;
  margin-bottom:auto;
}

div.price > .value_container{
  font-weight:bold;
  padding-left:15px;
}

div.price > .value_container > .value {
  font-size:1.7em;
}

div.price > .value_container > .trend {
  font-size:1.4em;
  margin-top:auto;
  margin-bottom:auto;
}
