<div class="jumbotron">
<h1>Acerca de Bluelytics</h1>
<p>Bluelytics es una herramienta de analisis vivo del Dolar Blue.</p>
<p>El codigo fuente del mismo es abierto (AGPL) y esta disponible en:</p>
<p><a href="http://www.github.com/sicarul/bluelytics">http://www.github.com/sicarul/bluelytics</a> (Backend)</p>
<p><a href="http://www.github.com/sicarul/bluelytics_frontend">http://www.github.com/sicarul/bluelytics_frontend</a> (Frontend)</p>
<p>Esta aplicacion web fue creada por Pablo Seibelt, no tengo contacto con ninguna cueva ni nada que se le parezca, unicamente descago los valores disponibles en <a href="http://www.lanacion.com.ar/dolar-hoy-t1369">La Nacion</a>, <a href="http://www.ambito.com/economia/mercados/monedas/dolar/">Ambito Financiero</a> y <a href="http://dolarblue.net/">DolarBlue.net</a> y los disponibilizo aqui.</p>
</div>