

  <h2 translate>ANALYSIS.TITLE</h2>
  <div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <p translate>ANALYSIS.DESCRIPTION</p>

  <div layout="row" layout-align="center center">
  <md-select flex="50" ng-model="activeField">
    <md-option ng-repeat="field in fields" value="{{field}}" ng-click="ChooseField(field)">{{'ANALYSIS.VARIABLES.' + field | translate}}</md-option>
  </md-select>
  </div>

<div style="height:400px;">
  <linechart data="filteredData" options="options" mode=""></linechart>
</div>

<md-content class="md-padding" style="height: 50px; padding: 24px;">
  <md-tooltip>
    <span translate>COMMON.SLIDER</span>
  </md-tooltip>
  <slider style="width:100%;" ng-model="filter.value" ng-change="filterData()" min="0" step="1" max="{{filter.maxValue}}" range="true" tooltip="hide"></slider>

</slider>
<md-content>
