<div class="jumbotron">
  <h1 class="blue" translate>API.TITLE</h1>
  <p class="alert alert-warning" translate>API.WARNING</p>
  <p translate>API.DESCRIPTION</p>
  <h2 translate>API.METHODS</h2>
  <h3 translate>API.LAST_PRICE</h2>
  <a href='http://api.bluelytics.com.ar/json/last_price' target="_blank">http://api.bluelytics.com.ar/json/last_price</a>


  <h2 translate>API.BINDINGS</h2>
  <p translate>API.BINDINGS_DESCRIPTION</p>

  <table class="table" id="table_bindings">
  <thead>
    <tr>
    <th translate>API.BINDINGS_TABLE.LANGUAGE</th>
    <th translate>API.BINDINGS_TABLE.URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Laravel (PHP)</td>
      <td><a href="https://github.com/fedeisas/laravel-dolar-blue" target="_blank">fedeisas/laravel-dolar-blue</a></td>
    </tr>
    <tr>
      <td>NodeJS (Javascript)</td>
      <td><a href="https://github.com/matiu/dolar-blue" target="_blank">matiu/dolar-blue</a></td>
    </tr>
    <tr>
      <td>Odoo (Python)</td>
      <td><a href="https://github.com/morrillo/currency_usd_update" target="_blank">morrillo/currency_usd_update</a></td>
    </tr>
  </tbody>
  </table>
</div>
