    <div class="jumbotron" style="height:600px; padding-bottom:100px;">
    <div class="container" style="height:400px;">

        <h1 translate>EVOLUTION.TITLE</h1>
        <div ng-if="loading"><img src="images/loading.gif" style="width:32px;"></div>

        <linechart data="filteredData" options="options" mode=""></linechart>
        <slider style="width:100%;" ng-model="filter.value" ng-change="filterData()" min="0" step="1" max="{{filter.maxValue}}" range="true" tooltip="hide"></slider>

    </div>
</div>
