<div class="jumbotron">
  <h1>Predicción del Dolar Blue</h1>


<h2>Grafico</h2>
<nvd3-line-chart
        data="chartData"
        showXAxis="true"
        showYAxis="true"
        height="400"
        tooltips="true"
        interactive="true"
        showLegend="true"
        interpolate="basis"
        xAxisTickFormat="tickX"
        yAxisTickFormat="tickY">
    </nvd3-line-chart>

<h2>Tabla de valores</h2>
<table class="table" id="table_forecast">
<thead>
  <tr>
  <th>Mes</th>
  <th>Valor minimo predicho</th>
  <th>Valor predicho</th>
  <th>Valor maximo predicho</th>
  </tr>
</thead>
<tbody>
    <tr ng-repeat="prediccion in tableData">
        <td>{{ prediccion.date_month }}</td>
        <td class="min">{{ prediccion.low }}</td>
        <td class="mean">{{ prediccion.value }}</td>
        <td class="max">{{ prediccion.high }}</td>
    </tr>
</tbody>
</table>

</div>