<div class="jumbotron">
  <h1 translate>FORECAST.TITLE</h1>


<h2 translate>FORECAST.CHART.TITLE</h2>

<div class="container" style="height:400px;">
  <linechart data="data" options="options" mode=""></linechart>
</div>

<h2 translate>FORECAST.TABLE.TITLE</h2>
<table class="table" id="table_forecast">
<thead>
  <tr>
  <th translate>FORECAST.TABLE.MONTH</th>
  <th translate>FORECAST.TABLE.MIN</th>
  <th translate>FORECAST.TABLE.AVG</th>
  <th translate>FORECAST.TABLE.MAX</th>
  </tr>
</thead>
<tbody>
    <tr ng-repeat="prediccion in tableData">
        <td>{{ prediccion.date_month }}</td>
        <td class="min">{{ prediccion.low }}</td>
        <td class="mean">{{ prediccion.value }}</td>
        <td class="max">{{ prediccion.high }}</td>
    </tr>
</tbody>
</table>

</div>
