<div class="jumbotron">



  <h1>Dolar en Argentina</h1>
  <div class="row" ng-repeat="dolar in dolares |filter:dolar_activo:true">
  <h3>
  Fuente: <b>{{dolar.long_name}}</b>
  </h3>
  <p>Compra: {{dolar.compra}}</p>
  <p>Intermedio: {{(dolar.compra + dolar.venta) / 2}}</p>
  <p>Venta: {{dolar.venta}}</p>
  </div>

  <div class="btn-group" ng-repeat="dolar in dolares">
      <a class="btn" ng-class="{ 'btn-primary': (dolar.name == dolar_activo)}" href="#/dolar/{{dolar.name}}">
        {{dolar.long_name}}
      </a>
  </div>


</div>
