  <h2 translate>WORDCLOUD.TITLE</h2>

  <div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

  <div layout-gt-sm="row" layout-sm="column" layout-align="space-around center">
    <div flex layout="column" layout-align="space-around center">
      <h2 translate>WORDCLOUD.OFFICIAL_TITLE</h2>
      <div id="cloud_oficialista"><canvas></canvas></div>
      <small translate>WORDCLOUD.OFFICIAL_MEDIA</small>
    </div>
    <div flex layout="column" layout-align="space-around center">
      <h2 translate>WORDCLOUD.OPPOSING_TITLE</h2>
      <div id="cloud_oposicion"><canvas></canvas></div>
      <small translate>WORDCLOUD.OPPOSING_MEDIA</small>
    </div>
  </div>
