<div class="jumbotron">
  <h1 translate>WORDCLOUD.TITLE</h1>

  <div ng-if="loading"><img src="images/loading.gif" style="width:32px;"></div>
  
  <div class="row">
    <div class="col-md-6">
      <h2 translate>WORDCLOUD.OFFICIAL_TITLE</h2>
      <div class="cloud" id="cloud_oficialista"><canvas></canvas></div>
      <small translate>WORDCLOUD.OFFICIAL_MEDIA</small>
    </div>
    <div class="col-md-6">
      <h2 translate>WORDCLOUD.OPPOSING_TITLE</h2>
      <div class="cloud" id="cloud_oposicion"><canvas></canvas></div>
      <small translate>WORDCLOUD.OPPOSING_MEDIA</small>
    </div>
  </div>
</div>
